{% extends 'base.html' %}

{% block content %}

<section id="promotions-list">
    <div class="container py-5">
        <div class="row">
            {% for promotion in promotions %}
            <div class="col-md-4">
                <div class="card">
                    <img src="{{promotion.image_cover.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p>
                            <span class="badge bg-secondary">{{promotion.category}}</span>
                        </p>
                        <h5 class="card-title">{{promotion.name}}</h5>
                        <p class="card-text">{{ promotion.description }}</p>
                        <p>R$ {{promotion.price}}</p>
                        <a href="{{promotion.url}}" target="_blank" class="btn btn-primary">Ver Mais</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
