{% extends 'base.html' %}

{% block content %}

<section id="promotions-list">
    <div class="container py-5">
        <div class="row">
            {% for promotion in promotions %}
            <div class="col-md-4">
                <div class="card">
                    <img src="https://cdn.gatry.com/gatry-static/promocao/imagem/49d5cb421b4a56041fb0acbc554499cf.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{promotion.title}}</h5>
                        <p class="card-text">{{ promotion.description }}</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
